html, body {
    height: 100%;
    margin: 0;
}

   body {
    background-image: url("./images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
}
header h1{
    font-size: 9.5vmin;
    color: wheat;
    font-style: bold;
}

.container {
    height: 100vh;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2.5vmin;
}

.box {
     width: 18vmin;
    height: 18vmin;

    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem white;
    font-size: 8vmin;
    color: black;
    
}

#reset {
    background-color:violet;
    border-radius: 1rem;
    font-size: 1.25rem;
    margin-top: 20px;
    align-items: center;
    height: 50px;
    width: auto;
    color: white;
    border: none;


}
