html, body {
    margin: 0;
    min-height: 100vh;
}

body {
    background-image: url("./images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
}

header h1{
    color: black;
    font-size: 5.5vmax;
    font-weight: 600;
}

.container {
    height: 100vh;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2.5vmin;
     background: rgba(0, 0, 0, 0.35);
    padding: 1.5rem;
    border-radius: 1rem;
}

.box {
     width: 18vmin;
    height: 18vmin;

    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem white;
    font-size: 8vmin;
    color: black;
    
}

#reset {
    background-color:violet;
    border-radius: 1rem;
    font-size: 1.25rem;
    margin-top: 20px;
    align-items: center;
    height: 50px;
    width: auto;
    color: white;
    border: none;


}


.msg-container {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

/* hide class */
.hide {
    display: none;
}

#new-game {
    border-radius: 1rem;
    font-size: 1.25rem;
    margin-top: 20px;
    height: 50px;
    padding: 0 20px;
    color: white;
    border: none;
    cursor: pointer;
}



